includes:
  - %rootDir%/../../juliangut/phpstan-config/phpstan-phpunit.neon

parameters:
  level: max
  checkMissingCallableSignature: true
  parallel:
    maximumNumberOfProcesses: 7
  paths:
    - src
  typeAliases:
    TraceLine: 'array{file: ?string, line: ?int, function: ?string, class: ?string, args: array<mixed>}'
    ExceptionData: 'array{type: class-string<Throwable>, message: string, code: int, file: string, line: int, trace?: array<TraceLine>}'
  ignoreErrors:
    - message: '/^Call to function is_subclass_of\(\) with Whoops\\Handler\\HandlerInterface and .Jgut\\\\Slim\\\\Exception\\\\Whoops\\\\Renderer\\\\HtmlRenderer. will always evaluate to false\.$/'
      path: src/Whoops/Handler/ErrorHandler.php
    - message: '/^Expression on left side of \?\? is not nullable\.$/'
      path: src/Whoops/Renderer/RendererTrait.php
